*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.6)), url(assests/background.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}
#au{
    color: red;
}
.about{
    font-size: 20px;
    color: rgb(224, 214, 214);
    text-align: center;
    padding-top: 225px;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-shadow: 2px 0px 3px  black;
    line-height: 38px;
}
.highlight{
    color:red;
    font-size:23px ;
}
