*{
    margin: 0;
    padding: 0;
  }
  .main{
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.6)), url(assests/background.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
      
  }
  .icon{
    
    padding-top: 32px;
    padding-left: 15px;
    margin-left: 19px;
}    

 
  .about{
    font-size: 20px;
    color: rgb(224, 214, 214);
    text-align: center;
    padding-top: 225px;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 38px;
  }
  .highlight{
    color:red;
    font-size:23px ;
  }
  .category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -40px;
  
  }
    
  
  .category-box1,.category-box2,.category-box3 {
    width: 280px;
    height:280px;
    padding: 20px;
    margin: 45px;
    border: 0px solid #ccc;
    border-radius: 11px;
    text-align: center;
      
  }
  .category-box1{
    background-color: rgb(224, 216, 216);
    background-position: center;
    background-size: cover;
  }
  .category-box2{
    background-color:rgb(224, 216, 216);
    background-position: center;
    background-size: cover;
  }
  .category-box3{
    background-color: rgb(224, 216, 216);
    background-position: center;
    background-size: cover;
  }
  .category-box1:hover,.category-box2:hover,.category-box3:hover{
    width: 293px;
    height:308px;
    box-shadow: 0px 0px 18px rgb(235, 229, 229);
    transition: 0.3s;
  }
  h2{
    margin-top: -210px;
  }
  p{
    font-size: 30px;
    color: black;
  }
  .checkout{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 4px 4px 4px 4px;
    border-radius: 10px;
  }
  .checkout:hover{
    background-color: rgb(154, 12, 12);
  }
  .count {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 60px;
    text-shadow: 3px 3px 4px rgb(102, 96, 96);
}
.lgout{
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 4px 6px 4px 6px ;
  border-radius: 10px;
  margin-left: 1380px;
  margin-top: -63px;
  float: left;
}
.addadmin{
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: rgb(76, 66, 66);
  border: 0px solid white;
  padding: 6px 8px 6px 8px;
  border-radius: 8px;
  float:right ;
  margin-right: 220px;
  margin-top: -59px;
  box-shadow: 2px 2px 4px 8px rgba(0, 0, 0,);
}
.port{
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: rgb(74, 66, 66);
  border: 0px solid white;
  padding: 6px 8px 6px 8px;
  border-radius: 8px;
  float:right ;
  margin-right: 420px;
  margin-top: -59px;
  box-shadow: 2px 2px 4px 8px rgba(0, 0, 0,);
}
.addadmin:hover,.port:hover{
    color: red;
    transition: 0.7s;
    background-color: rgb(255, 255, 255);
}
input{
  font-size: 18px;
  border-radius: 5px;
  height: 25px;
}
.subutton{
  font-size: 20px;
  padding: 2px 8px 2px 8px;
  border-radius: 10px;
  color: white;
  background-color: red;
}
table{
  width: 100%;
  border: 0px solid ;
  margin-top: 50px;
}
a.tabbtn1{
  background-color: green;
  color: white;
  padding: 6px 6px 6px 6px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 20px;
}
a.tabbtn2{
  background-color: green;
  color: white;
  padding: 6px 6px 6px 6px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 20px;

}
.notifi{
  text-align: center;
  font-size: 25px;
  margin-top: 300px;
  color: red;
}
th{
  color: black;
  background-color: #7e7878;
  border-radius: 2px;
  height:48px;
  border: 0px solid ;
}

td{
  color: rgb(50, 4, 4);
  background-color: #e1d5d5;
  border-radius: 2px;
  padding:4px 4px 4px 4px;
  height:40px ;
  border: 0px solid ;
  text-align: center;
}

#update
{
  color: black;
  background-color: #e96a6a;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 29px;
  border: 0px solid #13dbbd;
  color: white;
  width: 200px;
  align-self: center;
}
a{
  color: red;
}
select{
  font-size: 18px;
  border-radius: 5px;
  height: 25px;
}
.back{
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 4px;
  border-radius: 6px;
}