*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.6)), url(assests/background.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.icon{
    
    padding-top: 32px;
    padding-left: 15px;
    margin-left: 19px;
}    


body {
    margin: 0;
    font-family: Arial, sans-serif;  
}
label {
    display: block;
    margin-bottom: 10px;
    color: rgb(213, 203, 203);
    font-size: 20px;
}
h1{
    color: rgb(213, 203, 203);
    margin-left: 670px;
    padding-bottom: 45px;
}
select{
    width: 320px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
}
input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
}

select,input,textarea,label{
    margin-left: 610px;
}
.btn{
   background-color: red;
   color: white;
   margin-left: 680px;
   margin-top: 45px;
   width: 180px;
   height:40px ;
   border-radius: 10px;
}
.btn:hover{
    background-color: rgb(117, 28, 28);
}