*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.6)), url(assests/background.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}
#co{
    color: red;
}
.conatiner{
    background-color: black;
    width: 70%;
}
.subutton{
    position: absolute;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border: 0px solid;
    background-color: red;
    margin-left: 2px;
    width: 260px;
    color: white;
}
form{
    margin-top: 180px;
    margin-left: 830px;
   
}
label{
    color: white;
}
input{
    font-size: 20px;
    border-radius: 8px;
    border: 0px solid;
    height: 30px;
}
textarea{
    font-size: 20px;
    width: 255px;
    border-radius: 8px;
    border: 0px solid;
}
.contact{
    margin-top: -232px;
    margin-left: 400px;
    color: rgb(255, 255, 255);
    width: 290px;
    height: 300px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 18px;
    background-color: rgb(39, 39, 41);
}
.f_back{
    border: 0px solid rgb(255, 255, 255);
}
